<div class="container-fluid">
	<div class="row">
	  <div class="col-md-6 col-h-12">
			<iframe id="messages" src="/app/messages"></iframe>
		</div>
	  <div class="col-md-6 col-h-12">
			<div class="row">
			  <div class="col-md-6 col-h-6">
					<iframe src="/app/weather"></iframe>
			  </div>
			  <div class="col-md-6 col-h-6">
					<iframe id="ratp" src="/app/ratp"></iframe>
			  </div>
			</div>
			<div class="row">
			  <div class="col-md-6 col-h-6">
					<iframe src="/app/twitterfeed"></iframe>
			  </div>
			  <div class="col-md-6 col-h-6">
					<iframe src="/app/advertisement"></iframe>
			  </div>
			</div>
	  </div>
	</div>
</div>

<script>
window.setInterval(reloadMessages, 10000);
//window.setInterval(reloadRATP, 60000);

//function reloadMessages() {
//  document.getElementById('messages').contentWindow.location.reload(true);
//}
</script>