*
{
	margin: 0;
	padding: 0;
}

p
{
	margin-top: 0;
	margin-bottom: 0;
}

html, body
{
	height: 100%;
	color: #fff;
	font-family: "Open Sans", sans-serif;
	overflow: hidden;
}

h1, h2
{
	margin-top: 0;
	margin-bottom: 0;
}

.header
{
	background-color: #37BECB;
	height: 2.5%;
	position: relative;
}

.header-ajd
{
	background-color: #37BECB;
	height: 5%;
	position: relative;
}

.container-fluid
{
	height: 100%;
}

.aujourdhui
{
	background-color: #fff;
}

.aujourdhui, .meteo
{
	height: 40%;
}

.meteo
{
	background-color: #37BECB;
	border-right: 2px solid #dadada;
}

.meteo-block
{
	text-align: center;
	font-size: 1vw;
	margin-top: 25px;
}

.meteo-block:first-child
{
	border-right: 1px solid #dadada;
}

.meteo-time
{
	text-transform: uppercase;
}

.meteo-celsius
{
	font-size: 1.75vw;
	font-family: "Roboto";
}

.meteo-celsius::after
{
	content: "°C";
}

.hour, .date
{
	text-align: center;
	color: #fff;
	line-height: 1;
}

.hour
{
	font-size: 6vw;
	font-weight: 700;
}

.date
{
	font-size: 1.25vw;
}

.pub
{
	height: 40%;
	background-color: #fafafa;
	overflow: hidden;
}

.title>h1
{
	font-size: 2.5vw;
	color: #37BECB;
	font-family: "Roboto";
	font-weight: 600;
	line-height: 0.75;
	margin-top: 25px;
}

.title
{
	padding: 5px;
	margin: auto;
	background-color: #FFF;
	border-bottom: 2px solid #37BECB;
}


.voisins
{
	background-color: #F3F3F3;
	height: 65%;
	border-right: 2px solid #dadada;
}

.transports
{
	background-color: #fff;
	text-align: left;
	color: #111;
	vertical-align: bottom;
	height: 100%;
}

.transports-container
{
	margin-top: 5%;
	height: 85%;
	overflow: hidden;
}

.transports-box
{
	margin-top: 25px;
	color: #111;
	background-color: #fff;
}

.transports-header
{
	border-bottom: 2px solid black;
	position: relative;
	height: 5vh;
}

.transports-train
{
	position: relative;
    height: 100%;
}

.transports-train>span
{
	position: absolute;
 	bottom: 0;
 	font-size: 4vw;
}

.transports-content
{
	padding: 6px;
	font-size: 1.5em;
}

.transports-size
{
	width: 8vw;
	height: 8vw;
}

.bus.transports-size
{
	width: 12vw;
}

.bus.symbole.transports-size
{
	width: 8vw;
}

.transports-station
{
	font-size: 4.5vw;
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
}

.transports-time
{
	text-align: center;
	width: auto;
	padding: 4px;
	background-color: #333;
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	font-size: 5.5vw;
	color: #fff;
}

.transports-content
{
	border-bottom: 1px solid #666;
}

.transports-content:last-child
{
	border-bottom: 0;
}

.syndic-content
{
	text-align: center;
	color: #111;
	padding: 25px;
	margin: 25px;
	border: 1px solid #DADADA;
	border-radius: 10px;
	background-color: #FAFAFA;
}

.container-custom
{
	width: 90%;
	margin: auto;
}

.block-message
{
	text-align: left;
	font-size: 2.5em;
	background-color: #FFF;
	margin-top: 25px;
	color: #111;
	padding: 15px;
	border-radius: 30px;
}

.block-message.syndic
{
	margin-top: 0;
	border-radius: 0;
	margin-top: 25px;
	padding: 15px;
}

.message-content::before, .message-content::after
{
	position: absolute;
	font-size: 3vw;
	color: #F3F3F3;
	font-family: "Oswald";
	line-height: 1;
}

.message-content::before
{
	content: "“";
	margin-left: -40px;
	top: 0;
	left: 0;
}

.message-content::after
{
	content: "”";
	bottom: -35%;
	top: 0;
	right: 0;
}

.message-content
{
	font-size: 1.35vw;
	padding-right: 40px;
	text-align: justify;
}

.logo-user
{
	font-size: 1.5vw;
}

.info-author, .info-date,.info-number
{
	font-size: 0.75em;
	color: #37BECB;
	font-family: "Oswald";
	font-weight: 300;
}

.info-date,.info-number
{
	line-height: 1.2;
}

.info-number
{
	font-weight: 400;
}

.message-jour
{
	margin-top: 30px;
}

.message-jour>.col-xs-11>.message-content
{
	font-size: 2.75vw;
	font-family: "Lobster";
	color: #37BECB;
	text-align: center;
}



.left-block, .right-block
{
	height: 95%;
}

.left-block
{

}

.modal
{
	color: #111;
}

.np
{
	padding-right: 0;
	padding-left: 0;
}

/*@media screen and (max-width: 1440px)
{
	.transports-size
	{
		width: 2.75em;
		height: 2.75em;
	}
}

@media screen and (max-width: 1024px)
{
	.transports-size
	{
		width: 3em;
		height: 3em;
	}
}*/